<a href="https://colab.research.google.com/github/AdakMahato/ML/blob/main/ML_ASSg_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas Introduction**

In [1]:
import pandas as pd
df=pd.DataFrame()
df['Name']=['Arsh','Aadarsha','Mona','Manish','Nirnaya','Sudeep','Nitesh','Ashutosh','Vishakha','Satakshi']
df['Gender']=['F','M','F','M','M','M','M','M','F','F']
df['Age']=[18,18,20,19,20,21,21,20,21,20]
print(df)
df.to_csv('Data.csv',index=False)

       Name Gender  Age
0      Arsh      F   18
1  Aadarsha      M   18
2      Mona      F   20
3    Manish      M   19
4   Nirnaya      M   20
5    Sudeep      M   21
6    Nitesh      M   21
7  Ashutosh      M   20
8  Vishakha      F   21
9  Satakshi      F   20

In [2]:
df=pd.read_csv('Data.csv')
df

       Name Gender  Age
0      Arsh      F   18
1  Aadarsha      M   18
2      Mona      F   20
3    Manish      M   19
4   Nirnaya      M   20
5    Sudeep      M   21
6    Nitesh      M   21
7  Ashutosh      M   20
8  Vishakha      F   21
9  Satakshi      F   20

In [3]:
df['Gender']=='F'

0     True
1    False
2     True
3    False
4    False
5    False
6    False
7    False
8     True
9     True
Name: Gender, dtype: bool

In [4]:
df[df['Age']>18]

       Name Gender  Age
2      Mona      F   20
3    Manish      M   19
4   Nirnaya      M   20
5    Sudeep      M   21
6    Nitesh      M   21
7  Ashutosh      M   20
8  Vishakha      F   21
9  Satakshi      F   20

In [5]:
df[(df['Age'] > 19) & (df['Gender'] == 'F')]

       Name Gender  Age
2      Mona      F   20
8  Vishakha      F   21
9  Satakshi      F   20

# Part I: Based on Feature Selection, Cleaning, and Preprocessing to Construct an Input from Data Source

*Examine the values of each attribute and Select a set of attributes only that would affect to predict future bike buyers to create your input for data mining algorithms. Remove all the unnecessary attributes. (Select features just by analysis).*

In [6]:
import pandas as pd

In [7]:
df=pd.read_csv('AWCustomers.csv')
df

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated
0,21173,NaN,Chad,C,Yuan,NaN,7090 C. Mount Hood,NaN,Wollongong,New South Wales,...,Bachelors,Clerical,M,M,1,3,0,1,81916,2017-03-06
1,13249,NaN,Ryan,NaN,Perry,NaN,3651 Willow Lake Rd,NaN,Shawnee,British Columbia,...,Partial College,Clerical,M,M,1,2,1,2,81076,2017-03-06
2,29350,NaN,Julia,NaN,Thompson,NaN,1774 Tice Valley Blvd.,NaN,West Covina,California,...,Bachelors,Clerical,F,S,0,3,0,0,86387,2017-03-06
3,13503,NaN,Theodore,NaN,Gomez,NaN,2103 Baldwin Dr,NaN,Liverpool,England,...,Partial College,Skilled Manual,M,M,1,2,1,2,61481,2017-03-06
4,22803,NaN,Marshall,J,Shan,NaN,Am Gallberg 234,NaN,Werne,Nordrhein-Westfalen,...,Partial College,Skilled Manual,M,S,1,1,0,0,51804,2017-03-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18356,25414,NaN,Grace,C,Bailey,NaN,6627 Camelback Ct.,NaN,Coronado,California,...,Graduate Degree,Skilled Manual,F,M,0,1,0,2,52953,2017-03-06
18357,11459,NaN,Tasha,NaN,Deng,NaN,9627 Kendall Rd,NaN,Port Macquarie,New South Wales,...,Bachelors,Skilled Manual,F,S,0,2,0,0,60992,2017-03-06
18358,12160,NaN,Jaclyn,NaN,Zhang,NaN,4364 Viera Avenue,NaN,Beaverton,Oregon,...,Partial College,Skilled Manual,F,S,0,2,0,0,51859,2017-03-06
18359,14353,NaN,Erin,I,Reed,NaN,3866 Mt. Everest Court,NaN,Vancouver,British Columbia,...,High School,Clerical,F,S,0,0,0,0,87177,2017-03-06
18360,16676,NaN,Amanda,NaN,Perry,NaN,7870 Orangewood Dr.,NaN,Grossmont,California,...,Graduate Degree,Professional,F,M,1,2,0,0,136856,2017-03-06

In [8]:
df.columns

Index(['CustomerID', 'Title', 'FirstName', 'MiddleName', 'LastName', 'Suffix',
       'AddressLine1', 'AddressLine2', 'City', 'StateProvinceName',
       'CountryRegionName', 'PostalCode', 'PhoneNumber', 'BirthDate',
       'Education', 'Occupation', 'Gender', 'MaritalStatus', 'HomeOwnerFlag',
       'NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren',
       'YearlyIncome', 'LastUpdated'],
      dtype='object')

*(b) Create a new Data Frame with the selected attributes only.*

In [9]:
data=df[['CustomerID','PostalCode','BirthDate','Education','Occupation','Gender','MaritalStatus','HomeOwnerFlag','NumberCarsOwned','NumberChildrenAtHome','TotalChildren','YearlyIncome']]

In [10]:
data

,CustomerID,PostalCode,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
0,21173,2500,1987-11-13,Bachelors,Clerical,M,M,1,3,0,1,81916
1,13249,V9B 2C3,1972-07-21,Partial College,Clerical,M,M,1,2,1,2,81076
2,29350,91791,1985-11-09,Bachelors,Clerical,F,S,0,3,0,0,86387
3,13503,L4 4HB,1977-10-18,Partial College,Skilled Manual,M,M,1,2,1,2,61481
4,22803,59368,1975-02-05,Partial College,Skilled Manual,M,S,1,1,0,0,51804
...,...,...,...,...,...,...,...,...,...,...,...,...
18356,25414,92118,1990-11-11,Graduate Degree,Skilled Manual,F,M,0,1,0,2,52953
18357,11459,2444,1992-10-13,Bachelors,Skilled Manual,F,S,0,2,0,0,60992
18358,12160,97005,1983-11-24,Partial College,Skilled Manual,F,S,0,2,0,0,51859
18359,14353,V7L 4J4,1995-06-15,High School,Clerical,F,S,0,0,0,0,87177
18360,16676,91941,1986-03-26,Graduate Degree,Professional,F,M,1,2,0,0,136856

In [11]:
df=pd.read_csv('AWSales.csv')
df

       CustomerID  BikeBuyer  AvgMonthSpend
0           21173          1          50.97
1           13249          1          53.11
2           29350          1          54.08
3           13503          1          56.93
4           22803          1          55.41
...           ...        ...            ...
18350       25414          0          48.14
18351       11459          1          50.23
18352       12160          1          49.56
18353       14353          0          51.42
18354       16676          1          52.27

[18355 rows x 3 columns]

In [12]:
df=pd.merge(df,data,on='CustomerID',how='inner')

In [13]:
df

,CustomerID,BikeBuyer,AvgMonthSpend,PostalCode,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
0,21173,1,50.97,2500,1987-11-13,Bachelors,Clerical,M,M,1,3,0,1,81916
1,13249,1,53.11,V9B 2C3,1972-07-21,Partial College,Clerical,M,M,1,2,1,2,81076
2,29350,1,54.08,91791,1985-11-09,Bachelors,Clerical,F,S,0,3,0,0,86387
3,13503,1,56.93,L4 4HB,1977-10-18,Partial College,Skilled Manual,M,M,1,2,1,2,61481
4,22803,1,55.41,59368,1975-02-05,Partial College,Skilled Manual,M,S,1,1,0,0,51804
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18356,25414,0,48.14,92118,1990-11-11,Graduate Degree,Skilled Manual,F,M,0,1,0,2,52953
18357,11459,1,50.23,2444,1992-10-13,Bachelors,Skilled Manual,F,S,0,2,0,0,60992
18358,12160,1,49.56,97005,1983-11-24,Partial College,Skilled Manual,F,S,0,2,0,0,51859
18359,14353,0,51.42,V7L 4J4,1995-06-15,High School,Clerical,F,S,0,0,0,0,87177
18360,16676,1,52.27,91941,1986-03-26,Graduate Degree,Professional,F,M,1,2,0,0,136856


*Determine a Data value type (Discrete, or Continuous, then Nominal, Ordinal, Interval, Ratio) of
each attribute in your selection to identify preprocessing tasks to create input for your data mining.*


1. CustomerID: Discrete, Nominal
2. PostalCode: Discrete, Nominal
3. BirthDate: Continuous, Interval
4. Education: Discrete, Ordinal
5. Occupation: Discrete, Nominal
6. Gender: Discrete, Nominal
7. MaritalStatus: Discrete, Nominal
8. HomeOwnerFlag: Discrete, Nominal
9. NumberCarsOwned: Discrete, Ratio
10. NumberChildrenAtHome: Discrete, Ratio
11. TotalChildren: Discrete, Ratio
12. YearlyIncome: Continuous, Ratio
13. BikeBuyer: Discrete, Nominal
14. AvgMonthSpend: Continuous, Ratio

***Part II: Data Preprocessing and Transformation
Depending on the data type of each attribute, transform each object from your preprocessed data.
Use all the data rows (~= 18000 rows) with the selected features as input to apply all the tasks below, do not perform each task on the smaller data set that you got from your random sampling result.

(a) Handling Null values

(b) Normalization

(c) Discretization(Binning onContinuousattributesorCategoricalAttributeswithtoomanydifferent
values

(d) Standardization/Normalization

(e) Binarization (One Hot Encoding)
***

# **#Handling Null values**

In [14]:

data.isnull().sum()

CustomerID              0
PostalCode              0
BirthDate               0
Education               0
Occupation              0
Gender                  0
MaritalStatus           0
HomeOwnerFlag           0
NumberCarsOwned         0
NumberChildrenAtHome    0
TotalChildren           0
YearlyIncome            0
dtype: int64

# **#createing some null values on gender column**

In [16]:
import numpy as np
data.loc[4,'Gender'] = np.nan

In [17]:
data

,CustomerID,PostalCode,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
0,21173,2500,1987-11-13,Bachelors,Clerical,M,M,1,3,0,1,81916
1,13249,V9B 2C3,1972-07-21,Partial College,Clerical,M,M,1,2,1,2,81076
2,29350,91791,1985-11-09,Bachelors,Clerical,F,S,0,3,0,0,86387
3,13503,L4 4HB,1977-10-18,Partial College,Skilled Manual,M,M,1,2,1,2,61481
4,22803,59368,1975-02-05,Partial College,Skilled Manual,NaN,S,1,1,0,0,51804
...,...,...,...,...,...,...,...,...,...,...,...,...
18356,25414,92118,1990-11-11,Graduate Degree,Skilled Manual,F,M,0,1,0,2,52953
18357,11459,2444,1992-10-13,Bachelors,Skilled Manual,F,S,0,2,0,0,60992
18358,12160,97005,1983-11-24,Partial College,Skilled Manual,F,S,0,2,0,0,51859
18359,14353,V7L 4J4,1995-06-15,High School,Clerical,F,S,0,0,0,0,87177
18360,16676,91941,1986-03-26,Graduate Degree,Professional,F,M,1,2,0,0,136856

In [18]:
data.loc[5,'YearlyIncome']=np.nan

In [19]:
data.isnull().sum()

CustomerID              0
PostalCode              0
BirthDate               0
Education               0
Occupation              0
Gender                  1
MaritalStatus           0
HomeOwnerFlag           0
NumberCarsOwned         0
NumberChildrenAtHome    0
TotalChildren           0
YearlyIncome            1
dtype: int64

In [20]:
data[data['Gender'].isna()]
#data[data[].isna()]

,CustomerID,PostalCode,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
4,22803,59368,1975-02-05,Partial College,Skilled Manual,NaN,S,1,1,0,0,51804.0

In [21]:
data[data['YearlyIncome'].isna()]

,CustomerID,PostalCode,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
5,22092,98403,1975-02-23,High School,Skilled Manual,F,M,1,2,2,2,NaN

In [22]:
mode_val=data['Gender'].mode()[0]
data['Gender'].fillna(mode_val,inplace=True)

<ipython-input-22-69669b62eee9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Gender'].fillna(mode_val,inplace=True)

In [23]:
data['Gender']

0        M
1        M
2        F
3        M
4        M
        ..
18356    F
18357    F
18358    F
18359    F
18360    F
Name: Gender, Length: 18361, dtype: object

In [24]:
data['YearlyIncome'].fillna(data['YearlyIncome'].mean(),inplace=True)

<ipython-input-24-0f03ee943f8b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['YearlyIncome'].fillna(data['YearlyIncome'].mean(),inplace=True)

In [25]:
data['YearlyIncome']

0         81916.0
1         81076.0
2         86387.0
3         61481.0
4         51804.0
           ...
18356     52953.0
18357     60992.0
18358     51859.0
18359     87177.0
18360    136856.0
Name: YearlyIncome, Length: 18361, dtype: float64

In [26]:
data.isnull().sum()

CustomerID              0
PostalCode              0
BirthDate               0
Education               0
Occupation              0
Gender                  0
MaritalStatus           0
HomeOwnerFlag           0
NumberCarsOwned         0
NumberChildrenAtHome    0
TotalChildren           0
YearlyIncome            0
dtype: int64

# **#Normalization**

In [27]:

from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
data['YearlyIncome']=scaler.fit_transform(data[['YearlyIncome']])

<ipython-input-27-6bc213d697e9>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['YearlyIncome']=scaler.fit_transform(data[['YearlyIncome']])

In [28]:
data

,CustomerID,PostalCode,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
0,21173,2500,1987-11-13,Bachelors,Clerical,M,M,1,3,0,1,0.496842
1,13249,V9B 2C3,1972-07-21,Partial College,Clerical,M,M,1,2,1,2,0.489453
2,29350,91791,1985-11-09,Bachelors,Clerical,F,S,0,3,0,0,0.536172
3,13503,L4 4HB,1977-10-18,Partial College,Skilled Manual,M,M,1,2,1,2,0.317083
4,22803,59368,1975-02-05,Partial College,Skilled Manual,M,S,1,1,0,0,0.231958
...,...,...,...,...,...,...,...,...,...,...,...,...
18356,25414,92118,1990-11-11,Graduate Degree,Skilled Manual,F,M,0,1,0,2,0.242065
18357,11459,2444,1992-10-13,Bachelors,Skilled Manual,F,S,0,2,0,0,0.312781
18358,12160,97005,1983-11-24,Partial College,Skilled Manual,F,S,0,2,0,0,0.232442
18359,14353,V7L 4J4,1995-06-15,High School,Clerical,F,S,0,0,0,0,0.543121
18360,16676,91941,1986-03-26,Graduate Degree,Professional,F,M,1,2,0,0,0.980128

# **Binarization

In [29]:
from sklearn.preprocessing import OneHotEncoder
categorical_columns = ['Education',	'Occupation',	'Gender',	'MaritalStatus'	]

encoder = OneHotEncoder(sparse_output=False)
one_hot_encoded = encoder.fit_transform(data[categorical_columns])
one_hot_df = pd.DataFrame(one_hot_encoded, columns=encoder.get_feature_names_out(categorical_columns))


df_encoded = pd.concat([data, one_hot_df], axis=1)


df_encoded = df_encoded.drop(categorical_columns, axis=1)

In [30]:
df_encoded

,CustomerID,PostalCode,BirthDate,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,Education_Bachelors,Education_Graduate Degree,...,Education_Partial High School,Occupation_Clerical,Occupation_Management,Occupation_Manual,Occupation_Professional,Occupation_Skilled Manual,Gender_F,Gender_M,MaritalStatus_M,MaritalStatus_S
0,21173,2500,1987-11-13,1,3,0,1,0.496842,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1,13249,V9B 2C3,1972-07-21,1,2,1,2,0.489453,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
2,29350,91791,1985-11-09,0,3,0,0,0.536172,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,13503,L4 4HB,1977-10-18,1,2,1,2,0.317083,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
4,22803,59368,1975-02-05,1,1,0,0,0.231958,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18356,25414,92118,1990-11-11,0,1,0,2,0.242065,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
18357,11459,2444,1992-10-13,0,2,0,0,0.312781,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
18358,12160,97005,1983-11-24,0,2,0,0,0.232442,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
18359,14353,V7L 4J4,1995-06-15,0,0,0,0,0.543121,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
18360,16676,91941,1986-03-26,1,2,0,0,0.980128,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0

# Standardization

In [31]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
col = ['YearlyIncome']
df_standardized = pd.DataFrame(scaler.fit_transform(data[col]), columns=col)

In [32]:
df_standardized

       YearlyIncome
0          0.298537
1          0.271162
2          0.444243
3         -0.367422
4         -0.682787
...             ...
18356     -0.645342
18357     -0.383358
18358     -0.680995
18359      0.469988
18360      2.088984

[18361 rows x 1 columns]

# Part III: Calculating Proximity /Correlation Analysis of two features
Make sure each attribute is transformed in a same scale for numeric attributes and Binarization for each nominal attribute, and each discretized numeric attribute to standardization. Make sure to apply a correct similarity measure for nominal (one hot encoding)/binary attributes and numeric attributes respectively.

(a) Calculate Similarity in Simple Matching, Jaccard Similarity, and Cosine Similarity between two following objects of your transformed input data.

(b) Calculate Correlation between two features Commute Distance and Yearly Income

In [37]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.metrics.pairwise import cosine_similarity
from scipy.spatial.distance import jaccard
import numpy as np

# Load the data (assuming 'data' is the original DataFrame)
df = data.copy()  # Create a copy of the original DataFrame

# Print the column names to verify
print("Column names in the dataset:")
print(df.columns)

# Update 'AveMonthSpend' if it's named differently
# Replace 'AveMonthSpend' with the actual column name if it differs
numeric_cols = ['YearlyIncome', 'NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren', 'AverageMonthlySpend']  # Replace with actual names if needed

# Verify that all numeric columns exist
numeric_cols = [col for col in numeric_cols if col in df.columns]
print(f"Using numeric columns: {numeric_cols}")

# Select categorical columns
categorical_cols = ['Education', 'Occupation', 'MaritalStatus', 'Gender', 'HomeOwnerFlag']  # Ensure these columns exist as well
categorical_cols = [col for col in categorical_cols if col in df.columns]
print(f"Using categorical columns: {categorical_cols}")

# Step 1: Standardize numeric attributes
scaler = StandardScaler()
numeric_data = scaler.fit_transform(df[numeric_cols])

# Step 2: Binarize categorical attributes (One-Hot Encoding)
encoder = OneHotEncoder(sparse_output=False)
categorical_data = encoder.fit_transform(df[categorical_cols])

# Combine the processed data
processed_data = np.hstack([numeric_data, categorical_data])

# Convert processed data back to a DataFrame for easier handling
processed_df = pd.DataFrame(processed_data)

# Step 3: Calculate Similarity between two objects (first two rows as an example)
obj1 = processed_df.iloc[0].values
obj2 = processed_df.iloc[1].values

# Simple Matching Coefficient (SMC)
def simple_matching_coefficient(a, b):
    return sum(a == b) / len(a)

smc = simple_matching_coefficient(obj1, obj2)
print("Simple Matching Coefficient:", smc)

# Jaccard Similarity
def jaccard_similarity(a, b):
    return 1 - jaccard(a, b)

jacc_sim = jaccard_similarity(obj1, obj2)
print("Jaccard Similarity:", jacc_sim)

# Cosine Similarity
cos_sim = cosine_similarity([obj1], [obj2])[0][0]
print("Cosine Similarity:", cos_sim)

# Step 4: Calculate Correlation between `AverageMonthlySpend` and `YearlyIncome`
# Replace 'AverageMonthlySpend' with the actual column name if needed
if 'AverageMonthlySpend' in df.columns and 'YearlyIncome' in df.columns:
    correlation = df['AverageMonthlySpend'].corr(df['YearlyIncome'])
    print("Correlation between AverageMonthlySpend and YearlyIncome:", correlation)
else:
    print("One or both of the columns 'AverageMonthlySpend' and 'YearlyIncome' are not present in the dataset.")

Column names in the dataset:
Index(['CustomerID', 'PostalCode', 'BirthDate', 'Education', 'Occupation',
       'Gender', 'MaritalStatus', 'HomeOwnerFlag', 'NumberCarsOwned',
       'NumberChildrenAtHome', 'TotalChildren', 'YearlyIncome'],
      dtype='object')
Using numeric columns: ['YearlyIncome', 'NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren']
Using categorical columns: ['Education', 'Occupation', 'MaritalStatus', 'Gender', 'HomeOwnerFlag']
Simple Matching Coefficient: 0.7
Jaccard Similarity: 0.4
Cosine Similarity: 0.5781097540481429
One or both of the columns 'AverageMonthlySpend' and 'YearlyIncome' are not present in the dataset.